@{
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

@model MyMvcApp.Models.CargoTracking
@{
    ViewData["Title"] = "Cargo Details";
}

<h2>Cargo Tracking Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Order Number</dt>
        <dd class="col-sm-10">@Model.Order?.OrderNumber</dd>

        <dt class="col-sm-2">Tracking Number</dt>
        <dd class="col-sm-10">@Model.TrackingNumber</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>

        <dt class="col-sm-2">Last Updated</dt>
        <dd class="col-sm-10">@Model.LastUpdated.ToString("g")</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
